#search_bar{
width:45%;
height:26px;
background-color: #fff;
border: 1px solid;
box-shadow: insert 0 1px 1px rgba(0,0,0,0.075);
margin-left: 1%;
float:left;
}

#header_link{
margin-left: 2%;
color: #fff;
font-family: arial;
font-size: 17px;
float:left;
text-decoration:none;
}